.task-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  border-bottom: 1px solid #ddd;
  gap: 12px;
  flex-wrap: wrap;
}

.task-item span {
  flex: 2 1 70%;
  margin-right: 12px;
  white-space: normal;
  overflow-wrap: break-word;
}

.task-item button {
  background-color: #6a98ca;
  color: white;
  border: none;
  border-radius: 3px;
  padding: 6px 12px;
  font-size: 0.70rem;
  cursor: pointer;
  transition: background-color 0.3s ease;
  min-width: 80px;
  white-space: normal;
  overflow: visible;

  display: inline-flex;
  align-items: center;
  justify-content: flex-start;
  box-sizing: border-box;
  margin-left: 3px;
  word-wrap: break-word;
  overflow-wrap: break-word;
   flex-grow: 0; 
   
}

.task-item button:hover {
  background-color: #b1c4d8;
}



.task-item button.delete-btn {
  background-color: #dc3545;
}

.task-item button.delete-btn:hover {
  background-color: #a71d2a;
}

@media (max-width: 500px) {
  .task-item {
    flex-wrap: wrap;
  }
  .task-item button {
    min-width: auto;
    width: 80%;
    text-align: center;
    margin-left: 0;
    margin-top: 6px;
  }
  .task-item span {
    flex: 1 1 100%;
  }
}
